div.config-wrapper {
	overflow: auto;
	h3 {
		text-transform: uppercase;
		font-weight: 300;
		margin: 0 0 5px;
		font-size: 1.2em;
		cursor: pointer;
		user-select: none;

		small {
			color: $secondary-color;
			text-transform: initial;
		}
	}

	.panel {
		margin-bottom: 20px;
		padding: 10px 0 20px;
		border-bottom: 1px solid lighten($primary-color, 30%);

		&:last-of-type {
			border-bottom: 0px;
		}
	}
}