div.config-wrapper {
	overflow: auto;

	.panel {
		h3 {
			span.step {
				font-size: 2em;
			}

			font-weight: 600;
			font-size: 1.4em;
			text-transform: uppercase;
			margin: 0 0 0 5px;
			cursor: pointer;
			user-select: none;

			small {
				color: $secondary-color;
				text-transform: initial;
			}
		}

		.description {
			em {
				font-weight: 500;
			}
		}

		margin-bottom: 2px;
		padding: 10px 0 5px;
		border-bottom: 1px solid lighten($primary-color, 30%);

		&:last-of-type {
			border-bottom: 0px;
		}
	}
}
