aside.elements {
	width: 45%;
	float: right;
	padding: 0 0 0 5%;
	margin-bottom: 40px;
	background-color: white;
	border-left: 1px solid $grey-tint1;


	.panel-big {

		h3 {
			span.step {
				font-size: 2em;
			}

			font-weight: 600;
			font-size: 1.4em;
			text-transform: uppercase;
			margin: -10px 0 0 5px;
			cursor: pointer;
			user-select: none;

			small {
				color: $secondary-color;
				text-transform: initial;
			}
		}

		.description {
			em {
				font-weight: 500;
			}
		}

		margin-top: 0px;
		padding: 0 0 5px;
		border-bottom: 1px solid lighten($primary-color, 30%);

		&:last-of-type {
			border-bottom: 0px;
		}
	}



	.panel {
		h3 {
			text-transform: uppercase;
			font-weight: 300;
			margin: 0 0 5px;
			font-size: 1.2em;
			cursor: pointer;
			user-select: none;
			small {
				color: $secondary-color;
				text-transform: initial;
			}
		}

		label {
			font-weight: 300;
			color: $secondary-color;
		}

		.warning {
			font-weight: 300;
			border: 1px solid $danger-color;
			padding: 5px;
			color: white;
			border-radius: 5px;
			margin-bottom: 5px;
			background-color: lighten($danger-color, 20%);
			em {
				font-weight: 500;
			}
		}

		.showhideEditor {
			label {
				margin-right: 10px;
				input {
					margin-right: 5px;
				}
			}
		}

		.fileInputWrapper {
			position: relative;
			overflow: hidden;
			margin: 110px auto 10px;
			width: 50%;
			text-align: center;
			cursor: pointer;

			input {
				position: absolute;
				top: 0;
				right: 0;
				margin: 0;
				padding: 0;
				font-size: 20px;
				cursor: pointer;
				opacity: 0;
				filter: alpha(opacity=0);
				width: 100%;
			}
		}

		margin-bottom: 20px;
		padding: 10px 0 20px;
		border-bottom: 1px solid $grey-tint1;

		&:last-of-type {
			border-bottom: 0px;
		}
	}

	@media screen and (max-width: 828px) {
		width: 100%;
		float: none;
		padding: 0;
		border-left: 0px;
		margin: 0 0 20px;
	}
}
