#header {
	background: $header-background-color;
	color: $header-color;
	padding: 10px 12px;
	height: 50px;

	a.logo {
		background-image: url($logo-src);
		width: 115px;
		height: 30px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		display: inline-block;
		float: left;
	}

	@media screen and (max-width: 828px) {
		padding: 0;
		height: auto;
		overflow: hidden;

		a.logo {
			float: none;
			margin: 10px 0 5px 12px;
		}
	}
}

@import "nav";