@mixin inline-list {
	letter-spacing: -4px;
	list-style-type: none;
	margin: 0; padding: 0;

	li {
		letter-spacing: normal;
		display: inline-block;
	}
}

@mixin button($background-color, $color) {
	padding: 5px 10px;
	background: $background-color;

	border: 0px; outline: 0px;
	-webkit-appearance: none;

	font-family: $font-family; font-size: 1em;
	color: $color;
	cursor: pointer;
	margin: 0 0 20px;

	&:hover {
		background: darken($background-color, 10%);
	}
}