.layer-config {
  background: #FFF;
  margin: 0 0 2rem;
  box-shadow: 0 2px 5px 0px #bbb;

  h3 {
    background: #f9f9f9;
    padding: 0.4rem 1rem;
    font-size: 1rem;
  }

  .element-config {
    padding: 1rem;
  }
}