<main id="body">

  <!-- Elements -->
  <aside class="elements">
    <div ng-if="(config.themes.length > 0 && theme) || !config.themes">

      <div ng-repeat="(key, element) in config.svg.elements" ng-if="element.editable" class="panel">
          
        <h3 ng-click="show[key] = !show[key]"><i class="fa fa-caret-down" ng-hide="show[key]"></i><i class="fa fa-caret-right" ng-hide="!show[key]"></i> {{element.name}}</h3>
        <div ng-if="element.type !== 'group'" ng-repeat="(type, field) in element.editable" ng-switch="type" ng-hide="show[key]">
          <!-- Text -->
          <div ng-switch-when="text">
            <label>Text</label>
            <textarea ng-model="element.text" class="form-control"></textarea>
          </div>

          <!-- Fill -->
          <div ng-switch-when="fill">
            <label>Fill Color</label>
            <input colorpicker type="text" ng-model="element.fill" ng-if="field == 'picker'" class="form-control" />
            <select ng-model="element.fill" ng-options="name for (name, value) in field" class="form-control" ng-if="field != 'picker'">
              <option value="">-- Select a Fill Color --</option>
            </select>
          </div>

          <!-- Font Size -->
          <div ng-switch-when="fontSize">
            <label>Font Size</label>
            <select ng-model="element.fontSize" ng-options="name for (name, value) in field" class="form-control">
              <option value="">-- Select a Font Size --</option>
            </select>
          </div>

          <!-- Font Family -->
          <div ng-switch-when="fontFamily">
            <label>Font Family</label>
            <select ng-model="element.fontFamily" ng-options="name for (name, value) in field" class="form-control">
              <option value="">-- Select a Font Family --</option>
            </select>
          </div>

          <!-- Source -->
          <div ng-switch-when="src">
            <label>Image</label>
            <div class="dropzone" drop="onDrop($data, $event, key)" drop-effect="copy" drop-accept="'Files'" drag-over-class="drag-over-accept"></div>
            <button ng-show="config.elements[key].src !== ''" ng-click="removeImage(key)" class="button button-danger"><i class="fa fa-times"></i> Remove Image</button>
          </div>

          <!-- Width / Size -->
          <div ng-switch-when="width">
            <label>Size</label>
            <input type="range" min="10" max="1000" ng-model="element.width" />
          </div>

          <!-- Opacity -->
          <div ng-switch-when="opacity">
            <label>Opacity</label>
            <input type="range" min="0" max="1" ng-model="element.opacity" step="0.1" />
          </div>

          <!-- Filter -->
          <div ng-switch-when="filters">
            <label>Filter</label>
            <select ng-model="element.defaultFilter" ng-options="filter for filter in element.editable.filters" class="form-control">
              <option value="">-- Select a Filter --</option>
            </select>
          </div>
        </div>

        <!-- Groups -->
        <div ng-if="element.type === 'group' && element.elements[k].editable" ng-repeat="(k, e) in element.elements" ng-switch="e.editable" ng-hide="show[key]">
          <div ng-repeat="(t, f) in e.editable" ng-switch="t">
            <!-- Text -->
            <div ng-switch-when="text">
              <label>Text</label>
              <textarea ng-model="e.text" class="form-control"></textarea>
            </div>

            <!-- Fill -->
            <div ng-switch-when="fill">
              <label>Fill Color</label>
              <input colorpicker type="text" ng-model="element.elements[k].fill" ng-if="f == 'picker'" class="form-control" />
              <select ng-model="element.elements[k].fill" ng-options="name for (name, value) in f" class="form-control" ng-if="f != 'picker'">
                <option value="">-- Select a Fill Color --</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <!-- SVG element -->
  <div class="svg" fixed-scroll>
    <div class="svg-wrapper" ng-if="((config.themes.length > 0 && theme) || !config.themes) && ((config.sizes.length > 0 && size) || !config.sizes)">
      <snap-svg svg-config="config.svg" svg-theme="config.theme" filters="filters"></snap-svg>
      <button class="button" ng-click="downloadSvg()"><i class="fa fa-save"></i> Download Image</button>
    </div>

    <div class="config-wrapper">
      <div class="panel" ng-show="config.sizes">
        <h3 ng-click="dimensions = !dimensions"><i class="fa fa-caret-down" ng-hide="dimensions"></i><i class="fa fa-caret-right" ng-hide="!dimensions"></i> Dimensions <small>Choose your image output size</small></h3>
        <select id="size" ng-model="size" ng-options="size.name for size in config.sizes" class="form-control" ng-hide="dimensions">
          <option value="">-- Choose size --</option>
        </select>
      </div>

      <div class="panel" ng-show="config.themes">
        <h3 ng-click="themes = !themes"><i class="fa fa-caret-down" ng-hide="themes"></i><i class="fa fa-caret-right" ng-hide="!themes"></i> Theme <small>Choose the look and feel</small></h3>
        <select id="theme" ng-model="theme" ng-options="theme.name for theme in config.themes" class="form-control" ng-hide="themes">
          <option value="">-- Choose theme --</option>
        </select>
      </div>

      <div class="panel" ng-show="config.output.editable.scale">
        <h3 ng-click="scale = !scale"><i class="fa fa-caret-down" ng-hide="scale"></i><i class="fa fa-caret-right" ng-hide="!scale"></i> Scale ({{config.output.scale}}x) <small>Choose the scaled output size</small></h3>
        <input id="scale" type="range" max="3" min="1" step="1" ng-model="config.output.scale" ng-hide="scale" />
      </div>
    </div>
  </div>
</main>