<div class="row">
  <div class="col-md-12">
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div fixed-scroll>
      <div class="svg-wrapper" ng-if="((config.themes.length > 0 && theme) || !config.themes) && ((config.sizes.length > 0 && size) || !config.sizes)">
        <snap-svg svg-config="config.svg" svg-theme="config.theme" filters="filters"></snap-svg>
        <button class="btn btn-primary" ng-click="downloadSvg()">Download Image</button>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <form role="form">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Configuration</strong></div>
        <div class="panel-body">
          <div class="form-group" ng-show="config.sizes">
            <label for="size">Size</label>
            <select id="size" ng-model="size" ng-options="size.name for size in config.sizes" class="form-control">
              <option value="">-- Choose size --</option>
            </select>
          </div>
          <div class="form-group" ng-show="config.themes">
            <label for="theme">Theme</label>
            <select id="theme" ng-model="theme" ng-options="theme.name for theme in config.themes" class="form-control">
              <option value="">-- Choose theme --</option>
            </select>
          </div>
          <div class="form-group" ng-show="config.output.editable.scale">
            <label for="scale">Output Scale ({{config.output.scale}}x)</label>
            <input id="scale" type="range" max="3" min="1" step="1" ng-model="config.output.scale" />
          </div>
        </div>
      </div>
      <div ng-if="(config.themes.length > 0 && theme) || !config.themes">
        <div ng-repeat="(key, element) in config.svg.elements" ng-if="element.editable">
          <div class="panel panel-default">
            <div class="panel-heading"><strong>{{element.name}}</strong></div>
            <div class="panel-body">
              <div class="form-group" ng-if="element.type !== 'group'" ng-repeat="(type, field) in element.editable" ng-switch="type">
                <div ng-switch-when="text">
                  <label>Text</label>
                  <textarea ng-model="element.text" class="form-control"></textarea>
                </div>
                <div ng-switch-when="fill">
                  <label>Fill Color</label>
                  <input colorpicker type="text" ng-model="element.fill" ng-if="field == 'picker'" class="form-control" />
                  <select ng-model="element.fill" ng-options="name for (name, value) in field" class="form-control" ng-if="field != 'picker'">
                    <option value="">-- Select a Fill Color --</option>
                  </select>
                </div>
                <div ng-switch-when="fontSize">
                  <label>Font Size</label>
                  <select ng-model="element.fontSize" ng-options="name for (name, value) in field" class="form-control">
                    <option value="">-- Select a Font Size --</option>
                  </select>
                </div>
                <div ng-switch-when="fontFamily">
                  <label>Font Family</label>
                  <select ng-model="element.fontFamily" ng-options="name for (name, value) in field" class="form-control">
                    <option value="">-- Select a Font Family --</option>
                  </select>
                </div>
                <div ng-switch-when="src">
                  <label>Image</label>
                  <div class="dropzone" drop="onDrop($data, $event, key)" drop-effect="copy" drop-accept="'Files'" drag-over-class="drag-over-accept"></div>
                  <button ng-show="config.elements[key].src !== ''" ng-click="removeImage(key)" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i> Remove Image</button>
                </div>
                <div ng-switch-when="width">
                  <label>Size</label>
                  <input type="range" min="10" max="1000" ng-model="element.width" />
                </div>
                <div ng-switch-when="opacity">
                  <label>Opacity</label>
                  <input type="range" min="0" max="1" ng-model="element.opacity" step="0.1" />
                </div>
                <div ng-switch-when="filters">
                  <label>Filter</label>
                  <select ng-model="element.defaultFilter" ng-options="filter for filter in element.editable.filters" class="form-control">
                    <option value="">-- Select a Filter --</option>
                  </select>
                </div>

              </div>
              <div class="form-group" ng-if="element.type === 'group' && element.elements[k].editable" ng-repeat="(k, e) in element.elements" ng-switch="e.type">
                <div ng-switch-when="text">
                  <label>Text</label>
                  <textarea ng-model="element.elements[k].text" class="form-control"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>