<div class="row">
  <div class="col-md-12">
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <snap-svg svg-config="config" svg-theme="theme"></snap-svg>
  </div>
  <div class="col-md-5">
    <form role="form">
      <div class="panel panel-default" ng-show="themes">
        <div class="panel-heading"><strong>Theme</strong></div>
        <div class="panel-body">
          <div class="form-group">
            <select ng-model="theme" ng-options="theme.name for theme in themes">
              <option value="">-- choose theme --</option>
            </select>
          </div>
        </div>
      </div>
      <input type="text" ng-value="theme.backgroundColor" />
      <div class="panel panel-default" ng-repeat="(key, element) in config.elements" ng-if="element.editable">
        <div class="panel-heading"><strong>{{element.name}}</strong></div>
        <div class="panel-body">
          <div class="form-group" ng-repeat="(type, field) in element.editable" ng-switch="type">
            <div ng-switch-when="text">
              <label>Text</label>
              <textarea ng-model="element.text" class="form-control"></textarea>
            </div>
            <div ng-switch-when="fill">
              <label>Fill Color</label>
              <select ng-model="element.fill" ng-options="name for (name, value) in field.opts" class="form-control">
                <option value="">-- Select a Fill Color --</option>
              </select>
            </div>
            <div ng-switch-when="fontSize">
              <label>Font Size</label>
              <select ng-model="element.fontSize" ng-options="name for (name, value) in field.opts" class="form-control">
                <option value="">-- Select a Font Size --</option>
              </select>
            </div>
            <div ng-switch-when="fontFamily">
              <label>Font Family</label>
              <select ng-model="element.fontFamily" ng-options="name for (name, value) in field.opts" class="form-control">
                <option value="">-- Select a Font Family --</option>
              </select>
            </div>
            <div ng-switch-when="src">
              <label>Image</label>
              <div class="dropzone" drop="onDrop($data, $event, key)" drop-effect="copy" drop-accept="'Files'" drag-over-class="drag-over-accept"></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>